.App {
  text-align: center;
}

body {
  background-image: url("../public/images/pattern.png");
  width: 100%;
  /* background-attachment: fixed; */
  height: 100%;
  display: inline-table;
}

.img-fluid {
  margin-top: -2%;
  filter: drop-shadow(1px 1px 10px black) drop-shadow(-1px -1px 10px black);
}

.table {
  width: 100vh;
  margin-left: auto;
  margin-right: auto;
}

td,
th {
  vertical-align: middle;
}

.btn.btn-primary {
  width: 10vh;
  height: 4vh;
  margin: 10px;
  font-size: small;
  text-align: center;
  padding: 0;
  background-color: #4a7dee;
  display: inline-block;
  border-color: white;
}

.btn.btn-danger {
  width: 7%;
  font-size: 85%;
  text-align: center;
  padding: 0;
}

.btn:hover {
  background-color: #293b5b;
}

.data {
  color: white;
}

.input-group{
  width: 50%;
  align-items: center;
  padding: 2%;
}
