.App {
  text-align: center;
}

.bg-image {
  background-image: url("../public/images/pattern.png");
  width: 100%;
  background-attachment: fixed;
  height: 100vh;
}

.img-fluid {
  height: 70vh;
  margin-top: -10vh;
}

.table {
  width: 100vh;
  margin-left: auto;
  margin-right: auto;
}

td,
th {
  vertical-align: middle;
}

.btn {
  width: 10vh;
  height: 4vh;
  margin: 10px;
  font-size: small;
  text-align: center;
  padding: 0;
  background-color: #4A7DEE;
  display: inline-block;
  border-color: white;
}

.btn:hover{
  background-color: #293B5B;
}
